parameters:
    yumemiApocrypha:
        integrations: []
        autoDetect: false
        strictAutoDetect: true

parametersSchema:
    yumemiApocrypha: structure([
        integrations: listOf(string()),
        autoDetect: bool(),
        strictAutoDetect: bool(),
    ])

services:
    configuredIntegrationStubFilesExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\ConfiguredIntegrationStubFilesExtension
        arguments:
            integrations: %yumemiApocrypha.integrations%
            autoDetect: %yumemiApocrypha.autoDetect%
            strictAutoDetect: %yumemiApocrypha.strictAutoDetect%
        tags:
            - phpstan.stubFilesExtension
    packageIntegrationUnitBoundaryExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitBoundaryExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
        tags:
            - phpstan.rules.rule
            - phpstan.broker.expressionTypeResolverExtension
    packageIntegrationCarbonReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: nesbot/carbon
            class: Carbon\CarbonInterface
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationCacheRepositoryReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/cache
            class: Illuminate\Cache\Repository
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationCacheRateLimiterReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/cache
            class: Illuminate\Cache\RateLimiter
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationCacheFacadeReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/cache
            class: Illuminate\Support\Facades\Cache
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationFilesystemContractReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/filesystem
            class: Illuminate\Contracts\Filesystem\Filesystem
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationFilesystemReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/filesystem
            class: Illuminate\Filesystem\Filesystem
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationFilesystemAdapterReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/filesystem
            class: Illuminate\Filesystem\FilesystemAdapter
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationLockableFileReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/filesystem
            class: Illuminate\Filesystem\LockableFile
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationDatabaseConnectionReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/database
            class: Illuminate\Database\Connection
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationHttpFileReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/http
            class: Illuminate\Http\Testing\File
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationBenchmarkReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/support
            class: Illuminate\Support\Benchmark
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationSessionManagerReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/session
            class: Illuminate\Session\SessionManager
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationRouteReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: illuminate/routing
            class: Illuminate\Routing\Route
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    packageIntegrationInterventionImageReturnTypeExtension:
        class: jbboehr\Yumemi\Apocrypha\PHPStan\PackageIntegrationUnitReturnTypeExtension
        arguments:
            selection: @configuredIntegrationStubFilesExtension
            integration: intervention/image
            class: Intervention\Image\Interfaces\ImageInterface
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
