{
    source: {
        directories: [
            "src",
        ],
        excludes: [],
    },
    timeout: 20,
    threads: "max",
    logs: {
        text: "infection.log",
        summary: "infection-summary.log",
    },
    testFramework: "phpunit",
    mutators: {
        "@default": true,
    },
}
