includes:
    - vendor/jbboehr/doctrine-of-the-second-sun/integrations/phpstan/extension.neon
    - vendor/jbboehr/yumemi/extension.neon
    - vendor/jbboehr/yumemi/yumemi-tags.neon
    - apocrypha.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    doctrineOfTheSecondSun:
        enabled: true
        filePatterns:
            - '#/src/#'
        excludeFilePatterns:
            - '#/src/Parser/Parser\.php$#'
    paths:
        - benchmarks
        - src
        - tests
        - tools
    excludePaths:
        - tests/Consumer (?)
        - tests/PHPStan/fixtures
