includes:
    - %currentWorkingDirectory%/%env.COMPOSER_VENDOR_DIR%/jbboehr/yumemi/extension.neon
    - %currentWorkingDirectory%/%env.COMPOSER_VENDOR_DIR%/jbboehr/yumemi-apocrypha/extension.neon

parameters:
    level: max
    paths:
        - cases
    tmpDir: tmp/phpstan
    yumemiApocrypha:
        integrations:
            - illuminate/cache
