parameters:
    level: max
    paths:
        - cases
    tmpDir: tmp/phpstan
    yumemiApocrypha:
        integrations:
            - illuminate/cache
            - illuminate/cookie
            - illuminate/database
            - illuminate/filesystem
            - illuminate/http
            - illuminate/process
            - illuminate/queue
            - illuminate/redis
            - illuminate/support
            - illuminate/validation
